<!-- Card component del home -->
<div class="container py-5">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow" style="width: 18rem;">
                <img src="img/galeriaGym2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Clases Grupales</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow" style="width: 18rem;">
                <img src="img/galeriaGym7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Entrenamiento Personalizado</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow" style="width: 18rem;">
                <img src="img/gym1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Planes flexibles</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    img {
        height: 200px;
        object-fit: cover;
    }
</style>
