<!-- Componente recuperar contraseña -->
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <h2>Recuperar contraseña</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control">
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
      Debes ingresar un email válido.
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="form.invalid">Recuperar</button>
</form>

<div *ngIf="success" class="alert alert-success mt-3">
  Si tu email está registrado, te enviaremos instrucciones. Serás redirigido al login...
</div>
</div>


